* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 100vh;
}
.container {
  cursor: pointer;
}

span {
  font-size: 9rem;
  color: blue;
  font-weight: bolder;
  line-height: 1;
  display: inline-block;
}

span.items {
  animation: jump 2s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translate(0, 0) rotate(180deg);
  }
  100% {
    transform: scale(2) translate(0, -150px);
  }
}
